@use '../../scss/colors.scss';
@use '../../scss/fonts.scss';
@use '../../scss/animation.scss';

.heading {
  @include fonts.heading-large;
  color: colors.$black;
}

.community {
  max-width: 100vw;
}

// /* slides on top*/
// .sliders {
//   background: #000;
//   border-radius: 1em;
// }

// .slide {
//   color: white;
//   position: relative;
//   text-align: center;
//   top: 45%;
// }

/* search bar*/
.search_bar {
  margin-bottom: 0.4em;
  margin-top: 0.8em;
}

.social_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1em;
  padding-bottom: 10em;
}
