@use '../../../scss/colors.scss';
@use '../../../scss/fonts.scss';
@use '../../../scss/animation.scss';

/* User details */
.user_details {
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 0.6em;
}

.user_img img {
  flex-direction: column;
  border-radius: 50%;
  height: 2em;
  aspect-ratio: 1/1;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.name {
  @include fonts.label-medium;
}

.time {
  @include fonts.label-small;
}
