$sky: #05668d;
$ocean: #028090;
$tea: #02c39a;
$forest: #00a896;
$paddy: #f0f3bd;
$danger: #ff2875;
$black: #2f2f2f;
$ash: #505050;
$white: #fcfcfc;
$dark-grey: #9d9d9d;
$grey: #d9d9d9;
$danger-hover: #d91c60;
$ocean-hover: #028090;
