@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Quicksand:wght@500&display=swap');

@mixin heading-large {
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 500;
}
